/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  /* Estilos específicos para la descarga de PDF */
  .pdf-download-link {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  
  .pdf-download-link:hover {
    background-color: #0069d9;
  }
  
  .pdf-loading-text {
    color: #007bff;
    font-style: italic;
  }
  
  .pdf-error-text {
    color: red;
    font-style: italic;
  }
  